//space
$p-1: 5px;
$p-2: 10px;
$p-3: 15px;
$p-4: 20px;
$p-5: 25px;
$p-6: 30px;
$m-1: 10px;
$m-2: 20px;
$m-3: 30px;
$m-4: 40px;
$m-5: 50px;
$m-6: 60px;

//colors:

$color-red: #f00;
$color-green: #0f0;
$color-blue: #00f;
$color-purpure: #f0f;
$color-white: #fff;
$color-black: #000;
$color-orange: #fc3;
$color-yellow: #ff0;
$color-grey: #999;
$color-grey-transparent: #99999999;

//sizes:

$size-10: 10px;
$size-20: 20px;
$size-100: 100px;
$size-150: 150px;
$size-200: 200px;
$size-250: 250px;
$size-300: 300px;
$size-350: 350px;
$size-400: 400px;
$size-450: 450px;
$size-800: 800px;
$size-half: 50%;
$size-all: 100%;

//text:

$bold: 700;
$lighter: 200;
$font-size-small: 5px;
$font-size-medium: 15px;
$font-size-big: 25px;
